body,
html{
  width: 100%;
  height:100%;
  font-family:'Montserrat', sans-serif;
  background: url('header.jpg') no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
  background-size: cover;
}
hr {
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    max-width: 65px;
    opacity: 1;
  }
h1{
  font-size: 3rem;
  color: white;
  width:300px;
}
hr{
  border-color: #F05F44;
  max-width: 65px;
  border-width: 1px;
}
.buffer{
  height: 50px;
}
button{
  padding: 1rem 2rem;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #F05F44;
  border-color: #F05F44;
}

button:hover{
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 4px;
}
.container{
  max-width: 350px;
}
